@{
    ViewBag.Title = "Home Page";
}

<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
    <head>
        <link href="Content/Site.css" rel="StyleSheet1" type="text/css" />
        
    </head>
    <body>
        <div class="hello">
            <center><h3>Car Rental</h3></center>
        </div>
        
</body>
   
</asp:Content>
    

